*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: 20px 50px 0 50px;
}

dt, dd{
    display: inline;
}
dd:after{
    content: "\a";
    white-space: pre;
}
